---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="homepage">

  <div class="block-left">
    <div class="content">
      <div class="main-info">
        <a href="{{ site.url }}" class="logo"><img class="profile-pic" src="/images/me.png"></a>
        {% include social-links.html %}
      </div>
    </div>
  </div>

  <div class="block-right">
    <ul class="menu">
      <li>
        <a href="{{ site.url }}/posts" title="posts">
          <i class="fa fa-quote-left posts-icon" aria-hidden="true"></i>
        </a>  
        <span class="posts-link">POSTS</span>  
      </li>
      <li>
        <a title="project" onclick="toggleProjects()">
          <i class="fa fa-archive projects-icon" aria-hidden="true"></i>
        </a>
        <span class="projects-link">PROJECTS</span>
      </li>
      <li>
        <a href="/docs/cv.pdf" title="resume" target="_blank">
          <i class="fa fa-file-text resume-icon" aria-hidden="true"></i>
        </a>
        <span class="resume-link">RESUME</span> 
      </li>
    </ul>
    <div class="content">
      <div class="about-info">
        {{ content }}
      </div>
    </div>
  </div>
  {% include overlay.html %}
  {% include scripts.html %}
</body>
</html>
